@import url(https://fonts.googleapis.com/css?family=Croissant+One);
@import url(https://fonts.googleapis.com/css?family=Bebas+Neue);
@import url(https://fonts.googleapis.com/css?family=Rubik);
*{
    margin:0;
    padding: 0;
    box-sizing: box-border;
}
.header{
    position: fixed;
    top: 0;
    left:0;
    width: 100%;
    padding: 20px 10px;
    background-color: #4d4d4d;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: antiquewhite;
    z-index: 100;
}

.logo{
    font-size: 35px;
    font-weight: 600;
    font-family:Croissant One;
    text-decoration: none;
    color: beige;
}

.nav-link a{
    font: size 18px;
    font-weight: 500;
    margin: 35px;
    text-decoration: none;
    transition: 3s;
    font-family: Bebas Neue;
    letter-spacing: 1px;
    color: #cbcaa5;
}

a:visited{
    color: antiquewhite;
    text-decoration: none;
}
a:hover{
    color: antiquewhite;
    text-decoration: none;
}
a:active{
    color: beige;
    text-decoration: none;
}

.home{
    height: 100vh;
    background:linear-gradient(-90deg ,#334d50 65%, #fff 35% );
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 10%;
}
.home-img{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 410px;
    height: 410px;
    background: #cbcaa5 35%;
    border: 25px solid #fff;
    border-radius: 50%;
    display: inline-flex;

}
.home-img img{
    position: relative;
    max-width: 380px ;
    max-height: 380px;
    border-radius: 50%;
}
.home-icon{
    margin: 25px 0 40px;
}
.home-icon a{
display: inline-flex;
width: 40px;
height: 40px;
justify-content: center;
align-items: center;
background: transparent;
border: 2px solid #cbcaa5;
border-radius: 50%;
font-size: 25px;
color: #cbcaa5;
text-decoration: none;
}
.home-icon a:hover{
    background: #73a0a5;
    color: azure;
    box-shadow: 0 0 10px #73a0a5;
}
.home-content{
    max-width: 600px;
    color: antiquewhite;
    text-align: right;
    
}
.home-content h1{
    font-size: 55px;
    line-height: 1.2;
    color: #cbcaa5;
}
.home-content h3{
    font-size: 34px;
    -webkit-text-stroke: -5px #fff;
    padding-bottom: 5px;
}
.home-content p{
    font-size: 22px;
    
}
.btn{
    padding: 12px 35px;
    background: #73a0a5;
    border-radius: 40px;
    max-width: 100px ;
    text-decoration: none;
    font-size: 20px;
    font-weight: 400;
    border-color: #cbcaa5;
    color: #cbcaa5;
    display:inline-flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.btn a{
    color: #cbcaa5;
    text-decoration: none;
    }
.btn:hover{
    background: #73a0a5;
    color: azure;
    box-shadow: 0 0 10px #73a0a5;
}

.content{
    color: antiquewhite;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.content h3{
    font-size: 24px;
    max-width: 60%;
    justify-content: center;
    color: antiquewhite;
    text-align: left;
    padding-left: 15px;
    padding: 15px;
    font-family: Rubik;
}
.content h3:nth-child(1){
    padding-top: 60px;
}
    .about{
        height: 100vh;
        background: linear-gradient(90deg,#334d50 65%,#cbcaa5 35%);
    }

.prj1-img{

    justify-content: center;
    align-items: center;
    width: 350px;
    height: 350px;
    background: #cbcaa5 35%;
    border: 25px solid #cbcaa5;
    border-radius: 50%;
    display: inline-flex;
    gap: 30px;

}
.prj1-img img{
    width: 340px;
    height: 340px;
    border-radius: 50%;
}
.Circle{
    display: grid;
    height: 100vh;
    padding-top: 50px;
    padding-left: 50px;
  gap: 30px;
  background: linear-gradient(-90deg, #334d50 100%, #fff 0%);
  justify-content: center;
  align-items: center;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
}
#button{
    gap: 50px;
    margin-left: 125px;
    margin-bottom: 200px;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact{
    height: 200px;
    background: linear-gradient(-90deg, #4d4d4d 100%, #cbcaa5 0%);
    color: #cbcaa5;
}
.contact h1{
    font-size: 40px;
    margin-bottom: 10px;
    
}
.contact i{
    font-size: 25px;
}

